.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lContainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lInput{
  position: relative;
  left : 20 px;
  height: 50px;
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 5px;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled{
  background-color: #0071c28c;
  cursor: not-allowed;
}
.register{
  text-align: center;
}
label{
  font-weight: 600;
}

.lButton:hover{
  background-color: white;
  color: #0071c2;
  border: 1px solid #0071c2;
}

@media screen and (max-width : 800px) {
    .lContainer{
      width: fit-content;
      position: absolute;
      left: 20%;
    }
}